.landing-page {
    background-color: azure;
    padding-bottom: 70px;
}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
} */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 37px auto 0;
    width: calc(280px * 4);
}

.card {
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 280px;
    position: relative;
    width: 243px;
}

@media (max-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        width: calc(280px * 2);
    }

    .card {
        margin: 0 auto 2rem;
    }
}

@media (max-width: 768px) {
    .cards {
        display: block;
        width: 100vw;
    }

    .card {
        margin: 0 auto 2rem;
    }
}

.column {
    float: left;
    width: 20%;
    height: 10%;
    padding: 0 10px;
}

.row {
    margin-top: -30px;
    margin-bottom: -10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header-parent {
    height: 110px;
    margin-left: 50px;
    margin-right: 20px;
    padding-top: 1px;
}

.header-parent.header-leftchild {
    float: left;
}

.header-rightchild {
    float: right;
}

.parent-card {
    margin-top: 0%;
    margin-left: 20px;
    margin-bottom: -10px;
}

.header-line {
    border: none;
    height: 4px;
    background: black;
}

.header-search {
    width: '200px';
    border-radius: '5px'
}